<div class= "text-center w-50 m-auto ">
<%= simple_form_for(@article) do |f| %>
  <%=error_msg(@article)%>

  <div class="form-inputs fw-bold bg-gray p-5 text-orange">
    <div class= "m-2">
    <%= f.input :title %>
    </div>
     <div class= "m-2">
    <%= f.input :text %>
    </div>
     <div class= "m-2">
    <%= f.file_field :image, class: 'form-control', direct_upload: true  %> 
    </div>
     <div class= "m-2">
    <%= f.hidden_field :author_id , value: current_user.id%>
    <%= fields_for(@selected_id) do |f| %>
      <%= f.label "Select The category" %>
      <%= f.collection_select :selected_id, Category.all, :id, :name %>
    <% end %>
    </div>
  </div>



  <div class="form-actions">
  <div class= "btn btn-warning m-2">
    <%= f.button :submit %>
    </div>
  </div>
<% end %>

</div>
