<div class="line">
</div>
<div class="card bg-dark text-white m-0 feature-article">
   <%= image_tag  @feature_article.image , class: "card-img" , height: "500px"%>
  <div class="card-img-overlay feature-article-content d-flex flex-column justify-content-end">
    <h5 class="card-title text-dark ">
    <%= link_to  @feature_article.title , article_path(@feature_article) , class: "feature-article-title" %>
    </h5>
    <p class="card-text text-dark">
    <%= link_to @feature_article.categories.first.name , category_path(@feature_article.categories.first.id), class: "feature-article-category" %>
    </p>
  </div>
</div>


   <div class= "row">
<% @articles.each do |article| %>
    <div class="col-3 p-0 ">
      <div class="card bg-dark text-white border-0">
      <%= image_tag  article.image , class: "card-img feature-img"%>
      <div class="card-img-overlay card-article-content d-flex flex-column justify-content-between">
       <p class="card-text text-dark">
       <%= link_to article.categories.first.name , category_path(article.categories.first.id) , class: "card-article-category" %>
      </p>
      <h5 class="card-title text-dark ">
      <%= link_to  article.title , article_path(article) , class: "card-article-title" %>
      </h5>
      </div>
    </div>
   </div>
   <% end %>
  </div>


