<!DOCTYPE html>
<html>
  <head>
    <title>BusinessArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-light bg-light d-flex  px-4 w-15">

    <a class="navbar-brand">
    <%= link_to root_path do %>
    <%= image_tag("logo.jpg", :size => "120x80") %>
    <% end %>
 
 <ul class= "nav w-50 d-flex justify-content-start">
  <li class="nav-item mx-4">
  <%= link_to "Enterprenurship" , category_path(4) , class: "btn btn-light active-item" %>

  </li>
  <li class="nav-item mx-4">
     <%= link_to "Economy" , category_path(2) , class: "btn btn-light text-secondary" %>
  </li>
  <li class="nav-item mx-4">
     <%= link_to "Technology" , category_path(3) , class: "btn btn-light text-secondary" %>
  </li>
  <li class="nav-item mx-4">
      <%= link_to "Marketing" , category_path(1)  , class: "btn btn-light text-secondary"%>
  </li>
  </ul>

<%= header_sign %>
</nav>
  
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </body>
</html>
